/*  @media screen and (orientation:landscape) {  */

html {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

@font-face {
  font-family: Oswald, sans-serif;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

body {
  /* 	  	font-family: 'Open Sans Condensed', sans-serif; */
  /* 		font-family: 'Oxygen', sans-serif; */
  font-family: Oswald;
  font-style: bold;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
}
#container {
  display: block;
  opacity: 1;
  position: absolute;

  background-image: url(assets/def.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  overflow: hidden;
}

#change-background {
  display: block;
  /* visibility: hidden; */
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grey-filter {
  filter: grayscale(100%);
  animation: saturation 5s infinite;
}
@keyframes saturation {
  0% {
    filter: grayscale(100%);
  }
  50% {
    filter: grayscale(30%);
  }
  100% {
    filter: grayscale(100%);
  }
}

.hovereffect {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 33vw;
  height: 33vh;
}

.linkedcontainer {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100vw;
  height: 5vh;
  bottom: 3%;
  margin: auto;
}

.linkedinlogo {
  position: relative;
  display: block;
  width: 5vh;
  height: 5vh;
  margin: auto;
  background: url(assets/linkedin.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s ease;
}

.linkedinlogo:hover {
  /* filter: url(linkedin.svg); */
  filter: blur(3px);
  filter: opacity(0.5);
}

#backgroundimg {
  object-fit: cover;
}

.logo {
  display: block;
  position: absolute;
  width: 100vw;
  height: 25vw;
  left: 51%;
  top: 35%;
  transform: translate(-50%, -50%);
  background-image: url("assets/logo_white.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.text-box {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  font-size: 2em;
  overflow: hidden;
  animation-name: bottomFade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.lefttext {
  position: relative;
  display: inline-block;
  opacity: 1;
  text-align: left;
  animation-name: leftFade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.righttext {
  position: relative;
  display: inline-block;
  text-align: left;
  opacity: 1;
  animation-name: rightFade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/* }  Voor media query*/

@keyframes bottomFade {
  0% {
    top: 70%;
    opacity: 0;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  69% {
    top: 60%;
    opacity: 1;
  }
  70% {
    top: 60%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 1;
  }
}
@keyframes leftFade {
  0% {
  }
  75% {
  }
  75% {
    opacity: 1;
    left: 0;
  }
  100% {
    left: -10vw;
    opacity: 0;
  }
}
@keyframes rightFade {
  0% {
  }
  75% {
  }
  75% {
    opacity: 1;
    left: 0;
  }
  100% {
    left: 10vw;
    opacity: 0;
  }
}

@media all and (orientation: portrait) {
  body {
    font-family: helvetica;
    font-weight: 500;
    text-transform: uppercase;
  }

  .logo {
    left: 52% !important;
    width: 40vh !important;
    height: 40vh !important;
  }

  #container {
    background-position: 27% 50% !important;
  }

  #change-background {
    background-position: 27% 50% !important;
  }

  .textframe {
    width: 100vw !important;
    height: 47vh !important;
  }
  .text-box {
    font-size: 1.2rem !important;
  }
  @keyframes bottomFade {
    0% {
      top: 56%;
      opacity: 0;
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
    }
    60% {
      top: 52%;
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
    75% {
      top: 52%;
      opacity: 1;
    }
    100% {
      top: 52%;
      opacity: 1;
    }
  }
  @keyframes leftFade {
    0% {
    }
    75% {
    }
    75% {
      top: 52%;
      opacity: 1;
      left: 0;
    }
    100% {
      left: -10vw;
      top: 52%;
      opacity: 0;
    }
  }
  @keyframes rightFade {
    0% {
    }
    75% {
    }
    75% {
      top: 52%;
      opacity: 1;
      left: 0;
    }
    100% {
      left: 10vw;
      top: 52%;
      opacity: 0;
    }
  }
}
